/* Rubik Moonrocks 
для заглавья */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
/* Concrete */
@font-face {
	font-family: "Concrete";
	src: url("../fonts/Concrete-Regular.woff2") format("woff2"), url("../fonts/Concrete-Regular.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}
body{
	text-align: center;	
	font-family: "Concrete",sans-serif;
	font-size: 18px;
	text-shadow: 1px 3px 3px rgb(87, 85, 85);
}
.style-body{
	margin: 50px 150px;
}
.image{
	max-width: 100%;
	margin: 25px;
}

h1{	
	font-family: "Rubik Moonrocks",serif;	
	font-size: 45px;
	margin: 20px auto;
	padding-bottom: 15px;
	min-width: 210px;
	height: 80px;
	border-radius: 25%;
	color: #f7c949;	
	line-height: 2;
	background-color: #7f4503;	
	transition: all 0.3s ease 0s;
}
h1:hover{
	font-size: 46px;	
	background-color: #000000;	
	box-shadow: 0 5px 5px 5px #8c5b22;
	color: #ca720f;
}
h2{
	font-family: "Rubik Moonrocks",serif;
	margin: 30px;
	font-size: 35px;
	color: #a23e1a;	
	line-height: 2;
}
.style-nav {	
	display: inline-block; 
	font-family: "Rubik Moonrocks",sans-serif;	
	min-width: 210px;
	border-radius:15%;
	background-color: #cff060;
	box-shadow: 0 8px 3px #afd043;
	color: #a23e1a;
	transition: all 0.3s ease 0s;
}
.style-nav:hover {	
	font-size: 17px;
	background-color: #bb6706;	
	box-shadow: 0 8px 3px #7f4503;	
	color: #a4c511;	
}
.text p,
.text {
	margin: 15px auto;
	max-width: 800px;
	color: blueviolet;
	font-size: 15px;
	text-shadow: none;
}
/* перечекнет */
.text-through{
	text-decoration: line-through;
	text-decoration-thickness: 2.5px;
	text-decoration-color: #3aa21a;
}
/* Над текстом */
.text-overline{
	text-decoration: overline;
	text-decoration-thickness: 2px;
	text-decoration-color: blueviolet;
}
/* Под текстом */
.text-underline{
	text-decoration: underline;
	text-decoration-thickness: 2px;
	text-decoration-color: blueviolet;
}

.block-header .block-main{
	margin-top: 30px;
}
mark{
	font-size: 22px;
}
